html,body {
	padding: 0;
	margin: 0;
}

body,div,p {
	font-family: Arial, Helvetica, Verdana;
	color: #333;
}

body {
	background-color: #eee;
}

h1 {
	font-size: 60px;
}

a,a:link,a:active,a:visited {
	color: black;
	text-decoration: underline;
}

a:hover {
	color: #9E1F63;
}

#intro {
	width: 580px;
	margin: 0 auto;
}

.wrapper {
	background-color: white;
	width: 480px;
	margin: 40px auto;
	padding: 50px;
	box-shadow: 0 0 5px #999;
}

.list_carousel {
	//background-color: #ccc;
	width: 257px;
}

.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}

.list_carousel li {
	font-size: 40px;
	color: #999;
	text-align: center;
	background-color: #eee;
	//border: 5px solid #999;
	width: 200px;
	height: 50px;
	padding: 0;
	margin: 6px;
	display: block;
	float: left;
}

.list_carousel.responsive {
	width: auto;
	margin-left: 0;
}

.clearfix {
	float: none;
	clear: both;
}

.prev {
	float: left;
	margin-left: 10px;
}

.next {
	float: right;
	margin-right: 10px;
}

.pager {
	float: left;
	width: 300px;
	text-align: center;
}

.pager a {
	margin: 0 5px;
	text-decoration: none;
}

.pager a.selected {
	text-decoration: underline;
}

.timer {
	background-color: #999;
	height: 6px;
	width: 0px;
}
.list_carousel2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}

.list_carousel2 li {
	font-size: 40px;
	color: #999;
	text-align: center;
	width: 180px;
	height: 100px;
	padding: 0;
	margin-right: 2px;
	margin-top: 10px;
	display: block;
	float: left;
}
.list_carousel2.responsive {
	width: auto;
	margin-left: -280px;
}
.jcarousel-next-horizontal {
    position: absolute;
    top: 400px;
    right: 400px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-horizontal.png) no-repeat 0 0;
}
.jcarousel-prev-horizontal {
    position: absolute;
    top: 400px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-horizontal.png) no-repeat 0 0;
}
.haspaddingbottom{
	padding-bottom:5px;
	width:200px;
	height:220px;
}
.cineclass{
	font:italic bold 12px/30px arial,sans-serif;line-height:1.1;
	background-color:white;
	text-align:left;
	padding:5px 5px;
}
.imagewidth{
	width:180px;
	margin-left:-10px;
}